@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;


}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;

    background: rgba(0, 0, 0, 0.898);
    color: white;
    max-width: 1160px;
    margin: 0 auto;
}

main {}

/* nav start */
.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}
.nav-container h2{
    font-size: 40px;
    color: tomato;
}
.nav-link-container {
    display: flex;

}

.nav-item {
    font-weight: 600;
    list-style: none;

}

.nav-link {
    text-decoration: none;
    margin-right: 20px;
}

.acitve {

    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: tomato;
}

.hemaber-nav-menu {
    display: none;
}

@media screen and (max-width:576px) {

    .nav-container,
    .nav-link-container {
        text-align: center;
        flex-direction: column;

    }

    .hemaber-nav-menu {
        display: block;
        padding: 20px;
    }

    .nav-item {
        display: none;
    }
}

/* nav end */

/* banner start */

.banner-main-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-titles{
    width: 50%;
  
}
 
.banner-titles h1{
    font-size: 70px;
    font-weight: 800;
}
.banner-titles p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}
.img-conatiner{
position: relative;
margin-right: 60px;
}
.offer-btn{
    position: absolute;
    top:210px;
    left: 205px;
   
    width: 40%;
    border-radius: 5px;
    padding: 12px;
   
    background-color: rgba(186, 186, 144, 0.216);
}
.offer-btn2 p{
   margin-left:20px;
   text-align: center;
}
.offer-btn2{
    position: absolute;
    top:450px;
    left: 40px;
    width: 40%;
    border-radius: 5px;
    padding: 12px;
    background-color: rgba(186, 186, 144, 0.216);
}
.img-conatiner img{
width: 100%;

}
.fa-solid{
    color: rgba(230, 83, 60, 1) ;
}
.btn-banner{
    margin-top: 20px;
    padding: 25px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgba(230, 83, 60, 1) ;
}
.btn-banner1{
    margin-top: 20px;
    padding: 25px;
    border-radius: 20px;
   border: 1px solid;
    color: white;
    background: rgba(0,0,0,0.898);
}


@media screen and (max-width:576px) {
   
    .banner-main-section{
        flex-direction: column;
    }
 
.banner-titles h1{
    font-size: 40px;
    font-weight: 800;
}
}

/* banner end */
/* change-your- start */
.change-your-container{
    margin-top: 50px;
    padding-bottom: 60px;
}
.change-title{
    padding-bottom: 80px;
}
.change-title h2{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}
.change-title p{
    text-align: center;
}
.change-your-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: space-between;
  text-align: center;
  
  
}
.change-card img{
 border-radius: 50%;
 
}
.change-card h2{
    font-size: 30px;
    font-weight: 800;
}
.change-card p{
    color: rgb(156, 161, 161);
}
@media screen and (max-width: 576px) {
    .change-your-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .change-title h2{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
.change-card p{
    color: rgb(156, 161, 161);
    font-size: 14px;
    width: 50%;
    margin: 0 auto;
}
}
/* change-your- end */

/* run extra start */
  .run-extra-main-container{
    max-width: 1160px;
    margin: 0 auto;
    background-color: rgba(214, 223, 210, 0.171);
    padding: 80px;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  .run-extra-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .run-title h2{
     font-size: 45px;
     font-weight: 800;
  }
  .run-title p{
    color: rgba(221, 221, 207, 0.216);
  }
  .run-img img{
 width: 400px;
 border-radius: 10px;
  }
  @media screen and (max-width: 576px) {
    .run-extra-container{
        flex-direction: column;
    } 
    .run-img img{
        margin-top: 20px;
    }
  }
/* run extra end*/

 
.meet-container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px;
   background-color: rgba(214, 223, 210, 0.171);
   border-radius: 10px;
   margin-top: 80px;
}
.meet-title{
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding: 30px;
}
.meet-title h2{
    font-size: 40px;
}
.meet-title p{
   color: rgb(156, 161, 161);
}
.meet-our-conatiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.traner-img{
    position: relative;
}

.traner-img img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
    border-radius: 10px;

}

.trainer-title{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.trainer-title h4,
.trainer-title p{
    margin: 0;
}
.trainer-title p{
       color: rgb(156, 161, 161);
}
.trainer-title h4{
    font-size: 25px;
}
@media screen and (max-width: 576px){
    .meet-our-conatiner{
        grid-template-columns: 1fr;
    }
}